spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/marginalia
    username: postgres
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
application:
  name: marginalia